 {{import_globals}}
<table>
    <tr>
        <th> </th>
        <th>TOTAL</th>
        <th>TARIFA</th>
        <th>OF CORPO</th>
        <th>% Part</th>
        <th>OF PROPIA</th>
        <th>COMPET</th>
    </tr>
    <tr>
        <td>Total</td>
        <td>3.522.450.228</td>
        <td>2.658.638.797</td>
        <td>751.169.686</td>
        <td>21,33</td>
        <td>67.987.023</td>
        <td>44.654.722</td>
    </tr>
    <tr>
        <td>FRESCOS</td>
        <td>1.179.602.976</td>
        <td>895.266.566</td>
        <td>211.843.571</td>
        <td>17,96</td>
        <td>52.735.066</td>
        <td>19.757.773</td>
    </tr>
    <tr>
        <td>ALIMENTACION</td>
        <td>1.986.856.398</td>
        <td>1.511.343.768</td>
        <td>441.739.252</td>
        <td>22,23</td>
        <td>9.527.756</td>
        <td>24.245.623</td>
    </tr>
    <tr>
        <td>TEXTIL</td>
        <td>63.428.204</td>
        <td>49.614.707</td>
        <td>12.754.041</td>
        <td>20,11</td>
        <td>1.059.416</td>
        <td>41</td>
    </tr>
    <tr>
        <td>BAZAR</td>
        <td>140.885.412</td>
        <td>96.500.508</td>
        <td>41.283.552</td>
        <td>29,30</td>
        <td>2.861.849</td>
        <td>239.503</td>
    </tr>
    <tr>
        <td>ELECTRO</td>
        <td>127.784.763</td>
        <td>82.456.262</td>
        <td>43.208.611</td>
        <td>33,81</td>
        <td>1.725.817</td>
        <td>394.073</td>
    </tr>
</table>
