<div class="page_partial_container">
<button class="active_pagebtn" id="preparar_btn">PREPARAR CARTELERÍA</button>
<button id="implantar_btn">IMPLANTAR OFERTA</button>
<button id="verificar_btn">VERIFICAR OFERTA
</button>
</div>
