 {{import_globals}}
<table>
    <tr>
        <th>Promo</th>
        <th>Denominación</th>
        <th>Quincena</th>
        <th>Dias</th>
        <th>Nº Centros</th>
        <th>Nº Ref distintas</th>
        <th>Imp Vta OC</th>
    </tr>
    <tr>
        <td>6954</td>
        <td>REGALO</td>
        <td>1Q</td>
        <td>42</td>
        <td>90</td>
        <td>2287</td>
        <td>9.659.832</td>
    </tr>
    <tr>
        <td>6125</td>
        <td>3X2</td>
        <td>1Q</td>
        <td>35</td>
        <td>90</td>
        <td>3751</td>
        <td>7.989.018</td>
    </tr>
    <tr>
        <td>6997</td>
        <td>OFERTA SOCIO - 2ª AL 70%</td>
        <td>2Q</td>
        <td>21</td>
        <td>90</td>
        <td>924</td>
        <td>7.488.173</td>
    </tr>
    <tr>
        <td>6017</td>
        <td>3X2</td>
        <td>1Q</td>
        <td>21</td>
        <td>90</td>
        <td>1111</td>
        <td>7.323.434</td>
    </tr>
    <tr>
        <td>6183</td>
        <td>OFERTA RED - 3X2</td>
        <td>1Q</td>
        <td>21</td>
        <td>88</td>
        <td>1212</td>
        <td>7.245.011</td>
    </tr>
    <tr>
        <td>6963</td>
        <td>FRESCOS PUROS SEMANA 1 - OFERTASOCIO 3A SEMANAL F</td>
        <td>2Q</td>
        <td>11</td>
        <td>584</td>
        <td>182</td>
        <td>7.170.461</td>
    </tr>
    <tr>
        <td>8004</td>
        <td>OFERTA RED - PP</td>
        <td>2Q</td>
        <td>21</td>
        <td>90</td>
        <td>796</td>
        <td>6.967.925</td>
    </tr>
    <tr>
        <td>6994</td>
        <td>OFERTA SOCIO - 2ª UNIDAD AL 70%</td>
        <td>1Q</td>
        <td>21</td>
        <td>90</td>
        <td>1133</td>
        <td>6.483.297</td>
    </tr>
    <tr>
        <td>8002</td>
        <td>OFERTA RED - PP</td>
        <td>2Q</td>
        <td>24</td>
        <td>245</td>
        <td>867</td>
        <td>6.055.978</td>
    </tr>
    <tr>
        <td>6390</td>
        <td>VUELTA AL COLE</td>
        <td>2Q</td>
        <td>42</td>
        <td>90</td>
        <td>4301</td>
        <td>6.027.873</td>
    </tr>
    <tr>
        <td>6012</td>
        <td>2ª UNIDAD AL 70%</td>
        <td>1Q</td>
        <td>14</td>
        <td>88</td>
        <td>1650</td>
        <td>5.837.654</td>
    </tr>
    <tr>
        <td>8103</td>
        <td>OFERTA SOCIO - EL CLUB DE LOS DESCUENTOS</td>
        <td>2Q</td>
        <td>20</td>
        <td>90</td>
        <td>1857</td>
        <td>5.599.582</td>
    </tr>
    <tr>
        <td>6379</td>
        <td>OFERTA RED - 2ª AL 50%</td>
        <td>1Q</td>
        <td>14</td>
        <td>90</td>
        <td>1308</td>
        <td>5.428.864</td>
    </tr>
    <tr>
        <td>5056</td>
        <td>2ª UNIDAD AL 70%</td>
        <td>1Q</td>
        <td>14</td>
        <td>90</td>
        <td>1270</td>
        <td>5.232.869</td>
    </tr>
    <tr>
        <td>8001</td>
        <td>OFERTA RED - PP</td>
        <td>1Q</td>
        <td>21</td>
        <td>90</td>
        <td>652</td>
        <td>5.016.213</td>
    </tr>
    <tr>
        <td>6176</td>
        <td>OFERTA RED - 3X2</td>
        <td>1Q</td>
        <td>21</td>
        <td>244</td>
        <td>957</td>
        <td>4.922.844</td>
    </tr>
    <tr>
        <td>6454</td>
        <td>OFERTA SOCIO - COMPRANDO + AHORRA +</td>
        <td>1Q</td>
        <td>14</td>
        <td>90</td>
        <td>1300</td>
        <td>4.770.156</td>
    </tr>
    <tr>
        <td>6016</td>
        <td>2ª UNIDAD AL 50%</td>
        <td>2Q</td>
        <td>14</td>
        <td>90</td>
        <td>1447</td>
        <td>4.702.182</td>
    </tr>
    <tr>
        <td>6536</td>
        <td>OFERTA SOCIO - COMPRANDO + AHORRA +</td>
        <td>1Q</td>
        <td>21</td>
        <td>90</td>
        <td>1655</td>
        <td>4.658.849</td>
    </tr>
</table>
