 {{import_globals}}
<table>
  <tr>
    <th>Cod+Articulo</th>
    <th>Nº  Centros</th>
    <th>Imp Vta OC</th>
    <th>Unid OC</th>
  </tr>
  <tr>
    <td>226175-MERLUZA ARR CANTABRICO 1,2/1,9</td>
    <td>379</td>
    <td>4.465.011</td>
    <td>800.501</td>
  </tr>
  <tr>
    <td>319657-COCA-COLA PACK 12X 0,33 L</td>
    <td>708</td>
    <td>3.173.003</td>
    <td>524.986</td>
  </tr>
  <tr>
    <td>735399-LECHE BRIK SEMI.1L.ASTURIANA</td>
    <td>870</td>
    <td>2.201.289</td>
    <td>2.910.924</td>
  </tr>
  <tr>
    <td>17640137-FRESA 1/2 KG</td>
    <td>804</td>
    <td>2.137.492</td>
    <td>1.677.290</td>
  </tr>
  <tr>
    <td>3278231-COCA-COLA REGULAR P-2X2L</td>
    <td>806</td>
    <td>2.000.126</td>
    <td>801.657</td>
  </tr>
  <tr>
    <td>11793569-COCA-COLA P-24X0.33L</td>
    <td>91</td>
    <td>1.991.144</td>
    <td>163.293</td>
  </tr>
  <tr>
    <td>16783029-DODOT ACTIVITY T-4 EXTRA 11-16</td>
    <td>786</td>
    <td>1.958.919</td>
    <td>133.181</td>
  </tr>
  <tr>
    <td>1594-NARANJA ZUMO 2KG</td>
    <td>655</td>
    <td>1.939.615</td>
    <td>1.208.216</td>
  </tr>
  <tr>
    <td>834945-LA GULA DEL NORTE FRESCA 200 G</td>
    <td>699</td>
    <td>1.925.970</td>
    <td>462.600</td>
  </tr>
  <tr>
    <td>11052271-GAMBON EXTRAGRANDE</td>
    <td>440</td>
    <td>1.905.208</td>
    <td>254.779</td>
  </tr>
  <tr>
    <td>15531700-DETER.LIQUIDO ARIEL 40 DO</td>
    <td>763</td>
    <td>1.824.656</td>
    <td>256.319</td>
  </tr>
  <tr>
    <td>319400-CERVEZA HEINEKEN LATA 0,33L</td>
    <td>861</td>
    <td>1.574.875</td>
    <td>2.693.438</td>
  </tr>
  <tr>
    <td>373498-CERVEZA S.MIGUEL LATA 0,33L</td>
    <td>852</td>
    <td>1.565.234</td>
    <td>3.318.268</td>
  </tr>
  <tr>
    <td>8703969-CERVEZA LATA SAN MIGUEL12X0,33</td>
    <td>686</td>
    <td>1.545.434</td>
    <td>347.112</td>
  </tr>
  <tr>
    <td>3132297-PAT.. SALSUPER AHORRO LAYS 300</td>
    <td>747</td>
    <td>1.491.116</td>
    <td>989.883</td>
  </tr>
  <tr>
    <td>1759257-PULPO  1-2 KG</td>
    <td>445</td>
    <td>1.420.785</td>
    <td>202.216</td>
  </tr>
  <tr>
    <td>17162306-FILETE PECHUGA POLLO</td>
    <td>386</td>
    <td>1.420.128</td>
    <td>243.948</td>
  </tr>
  <tr>
    <td>317628-VERMOUTH ROJO MARTINI 1 L.</td>
    <td>847</td>
    <td>1.405.172</td>
    <td>178.959</td>
  </tr>
  <tr>
    <td>735423-LECHE BRIK ENTERA 1L.ASTURIANA</td>
    <td>869</td>
    <td>1.327.391</td>
    <td>1.758.761</td>
  </tr>
  <tr>
    <td>5850334-LUBINA PIEZA 300/400</td>
    <td>406</td>
    <td>1.295.016</td>
    <td>501.049</td>
  </tr>
</table>