<div class="page_partial_container">
<button id="preparar_btn">PREPARAR CARTELERÍA</button>
<button id="implantar_btn">IMPLANTAR OFERTA</button>
<button class="active_pagebtn" id="verificar_btn">VERIFICAR OFERTA</button>
</div>