<div class="component-inner table_1-inner">
    {{> component this}}
    <div class="component-widget table_1-widget">
    {{#if pratial_name}}
{{> Escandallo_de_venta_table this}}
   {{/if}}
    </div>
</div>
